* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black;*/
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

img,
embed,
object,
video {
  max-width: 100%;
}

body {
  max-width: 1500px;
  margin:auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
}

header::before {
  content: '';
  border: 1px solid #7d97ad;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

header {
  padding: 5px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
}

.logo {
  height: 76px;
  margin-left: 10px;
  /* float: left; */
}

.title {
  text-align: right;
  float: right;
}

.title-super {
  font-weight: 100;
  font-size: 45px;
}

.title-caption {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.line {
  height: 5px;
  border: none;
  background-color: #7d97ad;
}

.hero-image {
  width: 100%;
}

.gray {
  color: #7d97ad;
}

.dark-gray {
  color: #2d3c49;
}

.section-title {
  padding: 10px;
  font-weight: 300;
}

.portfolio {
  width: 33.3%;
}

.portfolio-image {
  width: 100%;
  padding: 10px;
}

.portfolio-link {
  min-width: 48px;
  min-height: 48px;
}

.site-footer {
  margin-top: 10px;
  background-color: #7f7f7f;
  height: 42px;
  padding: 10px;
}

.footer-text {
  color: white;
  font-size: small;
  text-align: right;
}

@media screen and (max-width: 450px) {
  .logo {
    height: 50px;
  }

  .title-super {
    font-size: 27px;
  }

  .title-caption {
    font-size: small;
  }

  .section-title {
    font-size: 20px;
  }

  .hero {
    margin: 20px 0;
  }

  .portfolio {
    width: 100%;
  }

  .portfolio-image {
    width: 100%;
    padding: 0;
  }

  .portfolio-text {
    font-size: 15px;
  }

  .portfolio-link {
    font-size: 13px;
  }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
  .logo {
    height: 50px;
  }

  .title-super {
    font-size: 27px;
  }

  .title-caption {
    font-size: small;
  }

  .section-title {
    font-size: 20px;
  }

  .hero {
    margin: 20px 0;
  }

  .portfolio {
    width: 50%;
  }

  .portfolio-image {
    width: 100%;
    padding: 10px 10px;
  }

  .portfolio-text {
    font-size: 15px;
  }

  .portfolio-link {
    font-size: 13px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .logo {
    height: 76px;
  }

  .title-super {
    font-size: 2em
  }

  .title-caption {
    font-size: 1.17em;
  }

  .portfolio {
    width: 50%;
  }

  .portfolio-text {
    font-size: 1em;
  }

  .portfolio-link {
    font-size: 1em;
  }
}
